* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

$primo: blue;
$secondo: red;
$terzo: green;

.primo {
  color: $primo;
}

.secondo {
  color: $secondo;
}

.terzo {
  color: $terzo;
}
